<h1>New Question</h1>

<%= form_for @question do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %><br/>

	<%= f.label :body %>
	<%= f.text_field :body %><br/>

	<%= f.submit 'Ask!' %>
<% end %>	