<!DOCTYPE html>
<html>
<head>
  <title>RspecExample</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <%= yield %>

  <% if current_user %>
    <%= link_to 'Sign Out', signout_path, method: :delete %>
  <% else %>
    <%= link_to 'Sign In', signin_path %>
    <%= link_to 'Sign Up', new_user_path %>
  <% end %>
  <%= debug(params) if Rails.env.development? %>
</div>
<%#= yield %>

</body>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</html>
